<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditation and Goals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div id="content" style="display: flex; flex-direction: column;">
      <div>
        <h1>{{ meditation.title }}</h1>
        <p>{{ meditation.body }}</p>
      </div>
    </div>
    <div id="sidebar">
      <div id="themes">
        <h1>Themes</h1>
        {% for theme in themes %}
          {{ theme }}<br>
        {% endfor %}
      </div>
      <div id="maintenance">
        <h3>Maintenance</h3>
        {% for item in maintenance %}
        {{ item }}<br>
        {% endfor %}
      </div>
      <div id="strategic">
        <h3>Strategic</h3>
        {% for strategy in strategic %}
        {{ strategy }}<br>
        {% endfor %}
      </div>
      <div id="intrinsic">
        <h3>Intrinsic</h3>
        {% for intrinsic_item in intrinsic %}
        {{ intrinsic_item }}<br>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
